apiVersion: v1
kind: ConfigMap
metadata:
  name: kafka-config
data:
  brokers: "kafka-broker-1:9092,kafka-broker-2:9092"

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
data:
  s3-bucket: "education-platform-storage"
  sqs-queue-url: "https://sqs.us-east-1.amazonaws.com/ACCOUNT_ID/notification-queue-production"
  # Note: SQS queue is used for async notifications (course completions, etc.)

